{% load static %}

<footer class="footer-area footer-one" data-aos="fade-up">
  <div class="footer-widget">
    <div class="container-fluid p-5">
      <div class="footer-aligner row">
        <div class="col-xl-4 col-lg-3 col-sm-12" data-aos="fade-up" data-aos-delay="100">
          <div class="footer-logo">
            <a href="#"><img class="img-fluid" src="{% static 'img/Layer_1.png' %}" alt="Logo" /></a>
          </div>
        </div>

        <div class="col-xl-2 col-lg-2 col-sm-4" data-aos="fade-up" data-aos-delay="200">
          <div class="footer-link">
            <h6 class="footer-title">ABOUT</h6>
            <ul>
              <li><a href="#">Menu</a></li>
              <li><a href="#">Deals</a></li>
              <li><a href="#">Review</a></li>
              <li><a href="#">Our story</a></li>
              <li><a href="#">Get in touch</a></li>
            </ul>
          </div>
        </div>

        <div class="col-xl-2 col-lg-3 col-sm-4" data-aos="fade-up" data-aos-delay="300">
          <div class="footer-link">
            <h6 class="footer-title">TOP CUISINES</h6>
            <ul>
              <li><a href="#">Awaafi Grills</a></li>
              <li><a href="#">Awaafi Combos</a></li>
              <li><a href="#">Arabic Specials</a></li>
              <li><a href="#">South Indian Dish</a></li>
              <li><a href="#">Dessert & Ice Creams</a></li>
            </ul>
          </div>
        </div>

        <div class="col-xl-2 col-lg-3 col-sm-4" data-aos="fade-up" data-aos-delay="400">
          <div class="footer-link">
            <h6 class="footer-title">SOCIAL</h6>
            <ul>
              <li><a href="#">YouTube</a></li>
              <li><a href="#">Instagram</a></li>
              <li><a href="#">WhatsApp</a></li>
              <li><a href="#">Facebook</a></li>
            </ul>
          </div>
        </div>

        <div class="footer-app-store col-xl-2 col-lg-2 col-sm-4" data-aos="fade-up" data-aos-delay="500">
          <h5 class="download-title">Download Our App Now!</h5>
          <ul>
            <li><a href="#"><img src="https://cdn.ayroui.com/1.0/images/footer/app-store.svg" alt="app"></a></li>
            <li><a href="#"><img src="https://cdn.ayroui.com/1.0/images/footer/play-store.svg" alt="play"></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-copyright">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="copyright text-center d-md-flex justify-content-between align-items-center">
            <p class="text">01315639455</p>
            <p class="text">108a-110a Gorgie Road, EDINBURGH</p>
            <ul class="social">
              <li><a href="#"><i class="lni lni-facebook-filled"></i></a></li>
              <li><a href="#"><i class="lni lni-twitter-original"></i></a></li>
              <li><a href="#"><i class="lni lni-instagram-filled"></i></a></li>
              <li><a href="#"><i class="lni lni-linkedin-original"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
